@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #202121;
}

.left-image {
  filter: grayscale(100%);
  opacity: 50%;
  position: absolute;
  height: 400px;
}
.right-image {
  filter: grayscale(100%);
  opacity: 50%;
  position: absolute;
  height: 450px;
}

.left-image {
  left: -275px;
  margin-top: 250px;
}

.right-image {
  right: -375px;
  margin-top: 275px;
}

.player-cards {
  position: relative;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #d4af37;
  font-family: 'Montserrat', sans-serif;
}

.inputTitle {
  font-size: 17px;
  font-weight: bold;
  color: #d4af37;
  font-family: 'Montserrat', sans-serif;
}

.input {
  width: 100%;
  height: 40px;
  border: 3px solid #7d5a1f;
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  font-family: 'Montserrat', sans-serif;
  background-color: #202121;
  color: white;
}

.error-message {
  color: red;
  font-size: 14px;
  padding: 10px 10px 70px 0px;
}

.note {
  padding-top: 50px;
  font-size: 16px;
  font-weight: normal;
  color: lightcoral;
  font-family: 'Montserrat', sans-serif;
}

.button {
  background-color: #d4af37;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 17px;
  margin-top: 12px;
  font-family: 'Montserrat', sans-serif;
}

.button:hover {
  background-color: #b6951a;
}

.fade-in {
  animation: fadeIn 1s ease-out forwards;
}

.fade-out {
  animation: fadeOut 1s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



.player-card {
  color: #202121;
  box-shadow: 0 0 10px rgb(172, 146, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 3px solid rgb(172, 146, 0);
  border-radius: 10px;
  padding: 20px;
  background-color: #202121 ;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  height: 50px;
  width: 170px;
}

.player-card .winner {
  color: gold;
  text-shadow: 0 0 20px gold;
  position: absolute;
  top: -50px;
  left: 51%;
  transform: translateX(-50%);
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  background-color: #202121;
}

.player-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.player-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.player-card h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.stats-container {
  display: flex;
  justify-content: space-between;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  border: 1px solid #17408b;
  border-radius: 5px;
  padding: 20px;
  background-color: #e0e6ee;
  font-family: 'Montserrat', sans-serif;
}

.stats h5 {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.stats p {
  font-size: 12px;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
}

.player-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vs {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #e83a3a;
  margin: 0 25px;
  font-family: 'Montserrat', sans-serif;
}

.comparison {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.stats-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.stat-comparison {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
  font-family: 'Montserrat', sans-serif;
}

.stat-comparison p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  width: 50%;
  font-family: 'Montserrat', sans-serif;
}

.stat-comparison .stat-name {
  font-size: 1.1rem;
  font-weight: normal;
  text-align: center;
  width: 50%;
  font-family: 'Montserrat', sans-serif;
  color: gold;
}

.player-name{
  font-size: 15px;
  margin-top: 6px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.player-team{
  font-size: 15px;
  text-align: center;
  font-weight: normal;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.higher {
  color: green;
  font-family: 'Montserrat', sans-serif;
}

.lower {
  color: red;
  font-family: 'Montserrat', sans-serif;
}

.stats-value {
  display: inline-block;
  width: 100px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.stats-value.higher {
  color: green;
  margin-right: 5px;
  font-family: 'Montserrat', sans-serif;
}

.stats-value.lower {
  color: red;
  margin-left: 5px;
  font-family: 'Montserrat', sans-serif;
}

.stat-comparison .stat-value {
  display: inline-block;
  width: 100px;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.stat-comparison .stat-value.higher {
  color: green;
  font-family: 'Montserrat', sans-serif;
}

.stat-comparison .stat-value.lower {
  color: red;
  font-family: 'Montserrat', sans-serif;
}

.stat-comparison .versus {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 5px;
  margin-left: 5px;
  font-family: 'Montserrat', sans-serif;
}

@keyframes moveIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.winner-icon-animation {
  animation: moveIn 0.5s ease-out 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.player-card-animation,
.stats-animation {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1s forwards;
}


input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
  outline: none;
  border-color: #d4af37;
  box-shadow: 0 0 10px #d4af37;
  background-color: #202121;
  color: white;
}

input[type="submit"]:focus,
button:focus {
  outline: none;
  box-shadow: 0 0 5px #d4af37;
}

@media only screen and (max-width: 768px) {
  .player-cards {
    flex-direction: column;
    align-items: center;
  }

  .player-card {
    width: 100%;
  }

  .vs {
    margin: 20px 0;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .player-card img {
    width: 10px;
    height: 10px;
  }

  .player-name {
    font-size: 14px;
  }

  .player-team {
    font-size: 12px;
  }

  .stat-name {
    font-size: 14px;
  }

  .stat-value {
    font-size: 14px;
  }
}
